################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LoginformEF/.vs/LoginformEF
/LoginformEF/bin/Debug/netcoreapp3.1
/LoginformEF/obj
